{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Buzz Email - Automatic email sender</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <!--
    <link href="img/favicon.ico" rel="icon">
    -->


    <!-- Font-Awesome Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" crossorigin="anonymous">

</head>


<body>
    <div class="container">
        <div class="card bg-white text-black" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

                <div class="mb-md-5 mt-md-4 pb-5">

                    <h2 class="fw-bold mb-2 text-uppercase">Buzz Email</h2>
                    <p class="text-black-50 mb-5">Please enter email ids & message</p>

                    <div class="form-outline mb-4 multiple-val-input">
                        <label class="form-label" for="typeEmailX">Email</label>
                        <input type="text" name="tags" class="form-control" id="emails" value="" data-role="tagsinput" />
                    </div>

                    <br/><br/>

                    <div class="form-outline form-white mb-4">
                        <label class="form-label" for="typePasswordX">Message</label>
                        <textarea id="typePasswordX" class="form-control" id="msg" rows="4"></textarea>
                    </div>

                    <br/><br/>

                    <button class="btn btn-dark btn-lg px-5" type="submit" onclick="LoadURL()">Send</button>
                    <script type="text/javascript">
                        function LoadURL() {
                            var ticker = document.getElementById("emails").value;
                            var days = document.getElementById("msg").value;
                            var server = window.location.origin;
                            var path = "/send/" + ticker + "/" + days;
                            var url = server + path;
                            window.location.href = url;
                        }
                    </script>

                </div>
                <div>
                    <p class="mb-0">Designed and created by <a href="#!" class="text-black-50 fw-bold">Kumar Laxmikant</a>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js" integrity="sha512-VvWznBcyBJK71YKEKDMpZ0pCVxjNuKwApp4zLF3ul+CiflQi6aIJR+aZCP/qWsoFBA28avL5T5HA+RE+zrGQYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>